.dotnet
.python_history  
.zcompdump-Nemo-5.8.1.zwc                     
.sudo_as_admin_successful 
.zsh_history
.aws   
.gitconfig  
.test1.swp   
.zshrc
.azure     
.viminfo        
.zshrc.pre-oh-my-zsh
.bash_history 
.lesshst    
.vscode-remote-containers 
.bash_logout   
.local  
.vscode-server    
.bashrc  
.motd_shown  .z      
.cache 
.oh-my-zsh 
.zcompdump   
.docker   
.profile   
.zcompdump-Nemo-5.8.1
